.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.logo {
  display: flex;
  justify-content: center;
}
.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu-list {
  display: flex;
  list-style: none;
  font-size: 0.9rem;
}
.menu-list li {
  padding: 10px;
}
.search-area {
  position: absolute;
  right: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.search-area .input {
  width: 100px;
  border: none;
  font-size: 0.9rem;
  margin-left: 5px;
}

.product-card {
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card img:hover {
  width: 300px;
}
